<% include header.ejs %>
<body>
  <div class="container">
    <div class="row">
      <div class="col-offset-md-3 col-md-3">
        <img src="../images/julian.png">
      </div>
      <div class="col-offset-md-3 col-md-3">
        <h1>RadTimez.</h1>
        <h2>Check here periodically for updates on clues.</h2>
      </div>
    </div>
  </div>
</body>
<% include footer.ejs %>