<% include header.ejs %>
<body>
  <div class="container">
    <div class="row">
      <div class="col-offset-md-3 col-md-3">
        <img src="../images/julian.png">
      </div>
      <div class="col-offset-md-3 col-md-3">
        <h1>RadTimez.</h1>
        <h2>Check here periodically for updates on clues.</h2>
      </div>
    </div>
    <div class="row">
    <div class="jumbotron">
        <h3>Rad Notifications</h3>
        <!-- For loop, going through notifs via date -->
        <% if (typeof notifications == 'undefined') { %> 
          <p> No notifications yet! </p>
        <% } else { for (var i = 0; i < notifications.length; i++) { var place = notifications.length-i %>
        <div class="jumbotron">
        <h2><%= notifications[place-1].title %></h2>
        <h3><%= notifications[place-1].date %></h3>
        <p><%= notifications[place-1].text %></p>
        </div>
        <% } } %>
    </div>
    </div>
  </div>
</body>
<% include footer.ejs %>